<!DOCTYPE html>
<html>
    
<head>
    
    <meta charset="utf-8"/>
    <title>會員頁</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='web.css') }}">
</head>

<body>
    <div id="top">登入成功 會員{{user}}, 你好 </div>
    <div id="box">
        <a href="/signout">登出系統</a>
    </div> 
    <br>
    <hr>
    <div id = "message">
        
        <div>
            <div>說點什麼</div>
            <form action="/createMessage" id= "text-box" method="post">
                留言<input type="text" id="text" name="text" placeholder="type something...">
                <input type="submit" id= "add">
            </form>
        </div>
        <br>
        <hr>
        <br>
        <div>
            {% for t in text %}
            <tr>
                <td>{{ t[0] }}:</td>
                <td>{{ t[2] }}</td><br>
                <!-- {% if t[0] == user %}
                <form action="/deleteMessage">
                    <input type="button" id = "delete">x<br>
                </form>
                {% else %}
                <br>
                {% endif %} -->

            </tr>
            {% endfor %}
        </div>
    </div>
    

    
    <script src="interact.js"></script>
 

</body>